
#u2205_img.selected {
}
#u2205.selected {
}
#u2206 {
  position:absolute;
  left:2px;
  top:-3px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2207 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u2207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u2208 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2209 {
  position:absolute;
  left:14px;
  top:18px;
}
#u2209_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2209_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2210 {
  position:absolute;
  left:6px;
  top:5px;
  width:7px;
  height:10px;
  -webkit-transform:rotate(175deg);
  -moz-transform:rotate(175deg);
  -ms-transform:rotate(175deg);
  transform:rotate(175deg);
}
#u2210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:10px;
}
#u2210_img.selected {
}
#u2210.selected {
}
#u2211 {
  position:absolute;
  left:2px;
  top:-3px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2212 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u2212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u2213 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2214 {
  position:absolute;
  left:346px;
  top:183px;
  width:16px;
  height:17px;
  font-family:'FontAwesome';
  font-weight:normal;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u2214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u2215 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u2216 {
  position:absolute;
  left:20px;
  top:181px;
  width:213px;
  height:19px;
  font-family:'Open Sans Bold', 'Open Sans';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u2216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:19px;
}
#u2217 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  word-wrap:break-word;
}
#u2218 {
  position:absolute;
  left:240px;
  top:139px;
  width:135px;
  height:19px;
  font-family:'Open Sans Bold', 'Open Sans';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
  color:#0099CC;
}
#u2218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:19px;
}
#u2219 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u2220 {
  position:absolute;
  left:410px;
  top:207px;
  width:540px;
  height:10px;
}
#u2220_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2220_end {
  position:absolute;
  left:523px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2220_line {
  position:absolute;
  left:0px;
  top:5px;
  width:540px;
  height:1px;
}
#u2221 {
  position:absolute;
  left:420px;
  top:184px;
  visibility:hidden;
}
#u2221_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2221_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2222 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:17px;
  font-size:12px;
}
#u2222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:17px;
}
#u2223 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u2224 {
  position:absolute;
  left:310px;
  top:0px;
  width:220px;
  height:17px;
  font-size:12px;
}
#u2224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:17px;
}
#u2225 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
