body {
  margin:0px;
  background-color:rgba(235, 235, 235, 1);
  background-image:url('../../images/login/bg.png');
  background-position:center top;
  background-repeat:repeat-x;
  background-attachment:scroll;
  background-size:auto;
  position:relative;
  left:-0px;
  width:960px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:100px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:100px;
}
#u2 {
  position:absolute;
  left:2px;
  top:42px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:250px;
  top:12px;
  width:150px;
  height:18px;
  font-family:'Open Sans Extrabold', 'Open Sans';
  font-weight:800;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:18px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:853px;
  top:8px;
  width:90px;
  height:25px;
  font-size:13px;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
}
#u6 {
  position:absolute;
  left:0px;
  top:4px;
  width:90px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:829px;
  top:8px;
  width:27px;
  height:25px;
  font-family:'FontAwesome';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  text-align:center;
  line-height:normal;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
}
#u8 {
  position:absolute;
  left:0px;
  top:6px;
  width:27px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:10px;
  top:6px;
  width:240px;
  height:24px;
  font-size:18px;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:24px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:750px;
  top:8px;
  width:27px;
  height:25px;
  font-family:'FontAwesome';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  text-align:center;
  line-height:normal;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
}
#u12 {
  position:absolute;
  left:0px;
  top:6px;
  width:27px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:765px;
  top:3px;
  width:15px;
  height:15px;
  font-family:'Verdana Negrito', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u14 {
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:790px;
  top:8px;
  width:27px;
  height:25px;
  font-family:'FontAwesome';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  text-align:center;
  line-height:normal;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
}
#u16 {
  position:absolute;
  left:0px;
  top:6px;
  width:27px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:805px;
  top:3px;
  width:15px;
  height:15px;
  font-family:'Verdana Negrito', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u18 {
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:10px;
  top:40px;
  width:206px;
  height:28px;
}
#u20_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:212px;
  height:34px;
}
#u21 {
  position:absolute;
  left:3px;
  top:3px;
  width:205px;
  height:27px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  color:#0099CC;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
}
#u22_img.mouseOver {
}
#u22.mouseOver {
}
#u23 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:22px;
  color:#0099CC;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
}
#u24_img.mouseOver {
}
#u24.mouseOver {
}
#u25 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:3px;
  top:25px;
  width:133px;
  height:79px;
  visibility:hidden;
}
#u26_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:139px;
  height:85px;
}
#u27 {
  position:absolute;
  left:3px;
  top:3px;
  width:132px;
  height:78px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:23px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:23px;
}
#u28_img.mouseOver {
}
#u28.mouseOver {
}
#u29 {
  position:absolute;
  left:5px;
  top:5px;
  width:117px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:0px;
  top:23px;
  width:127px;
  height:23px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:23px;
}
#u30_img.mouseOver {
}
#u30.mouseOver {
}
#u31 {
  position:absolute;
  left:5px;
  top:5px;
  width:117px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:0px;
  top:46px;
  width:127px;
  height:27px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:27px;
}
#u32_img.mouseOver {
}
#u32.mouseOver {
}
#u33 {
  position:absolute;
  left:5px;
  top:5px;
  width:117px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:911px;
  top:41px;
  width:39px;
  height:25px;
  font-family:'FontAwesome';
  font-weight:normal;
  font-style:normal;
  font-size:15px;
  color:#999999;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:25px;
}
#u34_img.mouseOver {
}
#u34.mouseOver {
}
#u34_img.mouseDown {
}
#u34.mouseDown {
}
#u34_img.disabled {
}
#u34.disabled {
  opacity:0.5;
}
#u35 {
  position:absolute;
  left:12px;
  top:2px;
  width:15px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:570px;
  top:41px;
  width:342px;
  height:25px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:25px;
}
#u36_img.selected {
  left:-6px;
  top:-6px;
  width:354px;
  height:37px;
}
#u36.selected {
}
#u37 {
  position:absolute;
  left:20px;
  top:4px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:574px;
  top:43px;
  width:335px;
  height:22px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:22px;
  background-color:transparent;
  font-family:'Open Sans';
  font-weight:normal;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u39 {
  position:absolute;
  left:906px;
  top:41px;
  width:10px;
  height:25px;
}
#u39_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u39_end {
  position:absolute;
  left:-5px;
  top:8px;
  width:20px;
  height:18px;
}
#u39_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:25px;
}
#u40 {
  position:absolute;
  left:250px;
  top:130px;
  width:380px;
  height:300px;
  text-align:left;
}
#u40_img {
  position:absolute;
  left:-5px;
  top:-2px;
  width:390px;
  height:310px;
}
#u41 {
  position:absolute;
  left:15px;
  top:65px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:250px;
  top:130px;
  width:380px;
  height:50px;
  font-family:'Open Sans Bold', 'Open Sans';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
}
#u43 {
  position:absolute;
  left:15px;
  top:15px;
  width:350px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:250px;
  top:170px;
  width:380px;
  height:10px;
}
#u44_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_end {
  position:absolute;
  left:363px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_line {
  position:absolute;
  left:0px;
  top:5px;
  width:380px;
  height:1px;
}
#u45 {
  position:absolute;
  left:270px;
  top:231px;
  width:340px;
  height:32px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:32px;
}
#u45_img.selected {
  left:-6px;
  top:-6px;
  width:352px;
  height:44px;
}
#u45.selected {
}
#u46 {
  position:absolute;
  left:20px;
  top:8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:281px;
  top:233px;
  width:317px;
  height:28px;
}
#u47_input {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:28px;
  background-color:transparent;
  font-family:'Open Sans';
  font-weight:normal;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u48 {
  position:absolute;
  left:270px;
  top:207px;
  width:340px;
  height:25px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:25px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:270px;
  top:301px;
  width:340px;
  height:32px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:32px;
}
#u50_img.selected {
  left:-6px;
  top:-6px;
  width:352px;
  height:44px;
}
#u50.selected {
}
#u51 {
  position:absolute;
  left:20px;
  top:8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:281px;
  top:303px;
  width:317px;
  height:28px;
}
#u52_input {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:28px;
  background-color:transparent;
  font-family:'Open Sans';
  font-weight:normal;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u53 {
  position:absolute;
  left:270px;
  top:277px;
  width:340px;
  height:25px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:25px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:270px;
  top:360px;
  width:61px;
  height:36px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:36px;
}
#u55_img.mouseOver {
}
#u55.mouseOver {
}
#u55_img.mouseDown {
}
#u55.mouseDown {
}
#u55_img.disabled {
}
#u55.disabled {
  opacity:0.5;
}
#u56 {
  position:absolute;
  left:12px;
  top:8px;
  width:37px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:100px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:100px;
}
#u58 {
  position:absolute;
  left:2px;
  top:42px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:250px;
  top:12px;
  width:150px;
  height:18px;
  font-family:'Open Sans Extrabold', 'Open Sans';
  font-weight:800;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:18px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:10px;
  top:6px;
  width:240px;
  height:24px;
  font-size:18px;
  color:#FFFFFF;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:24px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:800px;
  top:12px;
  width:150px;
  height:18px;
  font-family:'Open Sans Extrabold', 'Open Sans';
  font-weight:800;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:18px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
